<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects Portfolio</title>
  <!-- Enlace a CSS de Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <!-- Enlace a tu CSS personalizado -->
  <link rel="stylesheet" href="styles.css">
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div class="container text-center">
      <!-- Encabezado -->
      <header class="my-5">
        <img src="img/profile_image.jpg" alt="Profile Image" class="rounded-circle img-fluid mb-3" style="width: 150px; height: 150px;">
        <h1>Luis Camilo Jiménez Álvarez</h1>
        <p>Data Scientist</p>
        <p><a class="libutton" href="https://www.linkedin.com/comm/mynetwork/discovery-see-all?usecase=PEOPLE_FOLLOWS&followMember=luis-camilo-jimenez" target="_blank">Follow on LinkedIn</a></p>
      </header>
      <!-- Contenido principal -->
      <main class="mb-5">
        <div id="app"></div>
        <script>
          const vm = Vue.createApp({
            data(){
              return {
                groups:[
                  {
                    name: "LinkedIn Newsletters",
                    description: "Description...",
                    dropdown_label: "View Newsletters",
                    img: {
                      src: "img/newsletter_image.webp",
                      alt: "Newsletter Image"
                    },
                    subgroups: [
                      {
                        id: "ai_and_data_insights",
                        name: "IA & Data Insights"
                      }
                    ]
                  }
                ],
                projects:[
                  {
                    name: "Modelos Matemáticos: Desvelando Conexiones",
                    description: "Los modelos matemáticos en estadística son más que herramientas de cálculo: son el puente entre la teoría y la práctica en la comprensión de complejas interacciones entre variables...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/mathematical_model_article"
                    },
                    img: {
                      src: "img/math_models_image.webp",
                      alt: "Math Models Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  },
                  {
                    name: "Descifrando la Regresión Lineal",
                    description: "La regresión lineal es un método fundamental en el análisis estadístico que se basa esencialmente en dos conceptos clave para establecer la relación entre variables independientes y dependientes...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/linear_regression_article"
                    },
                    img: {
                      src: "img/linear_regression_image.webp",
                      alt: "Linear Regression Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  },
                  {
                    name: "Comprendiendo R-squared",
                    description: "El Coeficiente de Determinación R-squared se destaca en estadística por su habilidad para expresar qué proporción de la variación en una variable dependiente es explicada por las variables independientes en un modelo...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/r_squared_article"
                    },
                    img: {
                      src: "img/r_squared_image.webp",
                      alt: "R-Squared Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  },
                  {
                    name: "Histogramas: Decodificando los Datos",
                    description: "Los histogramas, con su capacidad para transformar datos crudos en visualizaciones comprensibles, juegan un papel crucial en el análisis de datos moderno...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/histograms_article"
                    },
                    img: {
                      src: "img/histograms_image.webp",
                      alt: "Histograms Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  },
                  {
                    name: "La Omnipresente Distribución Normal",
                    description: "La Distribución Normal se erige como una figura central en el ámbito de la estadística, distinguida por su forma de campana...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/normal_distribution_article"
                    },
                    img: {
                      src: "img/normal_distribution_image.webp",
                      alt: "Normal Distribution Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  },
                  {
                    name: "Entre Muestras y Patrones: Esculpiendo la Realidad",
                    description: "La estadística desempeña un papel crucial en la comprensión y el análisis de las características poblacionales, especialmente a través del estudio de parámetros como la media y la desviación estándar...",
                    link: {
                      label: "View on GitHub",
                      href: "https://github.com/luisca1985/population_and_estimated_parameters_article"
                    },
                    img: {
                      src: "img/population_and_estimated_parameters_image.webp",
                      alt: "Population and Estimated Parameters Image"
                    },
                    subgroups:[
                    "ai_and_data_insights"
                    ]
                  }
                ]
              }
            },
            template:`
            <div>
              <h2>Projects Portfolio</h2>
              <div class="container">
                <div class="row">
                  <div v-for="(group, index) in groups" :key="index" class="col-md-4 mb-4">
                    <div class="card">
                      <img :src="group.img.src" class="card-img-top" :alt="group.img.alt">
                      <div class="card-body">
                        <h5 v-text="group.name" class="card-title"/>
                        <p v-text="group.description" class="card-text"/>
                        <div class="dropdown">
                          <button v-text="group.dropdown_label" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"/>
                          <ul class="dropdown-menu">
                            <li v-for="(subgroup, index) in group.subgroups"><a v-text="subgroup.name" :href="'#'+subgroup.id" class="dropdown-item"/></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div v-for="(group, index) in groups" class="container">
                <h2 v-text="group.name"/>
                <div v-for="(subgroup, index) in group.subgroups" class="row">
                  <h3 :id="subgroup.id" v-text="subgroup.name" />
                  <div v-for="(project, index) in projects.filter(p => p.subgroups.includes(subgroup.id))" class="col-md-4 mb-4">
                    <div class="card">
                      <div class="image-container">
                        <img :src="project.img.src" class="card-img-top" :alt="project.img.alt">
                      </div>
                      <div class="card-body">
                        <h5 v-text="project.name" class="card-title"/>
                        <p v-text="project.description" class="card-text"/>
                        <a v-text="project.link.label" :href="project.link.href" target="_blank" class="btn btn-primary"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            `
          }).mount("#app")
        </script>
    </main>

        <!-- Pie de página -->
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <small class="d-block mb-3 text-muted">&copy; 2024 Luis Camilo Jiménez Álvarez</small>
                </div>
            </div>
        </footer>
    </div>

    <!-- Enlace a JS de Bootstrap -->
<!-- Enlace a JS de Bootstrap y sus dependencias -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    
</body>
</html>

