/* Aquí puedes añadir estilos personalizados si es necesario, por ejemplo: */
body {
    background-color: #f8f9fa; /* Un fondo claro de Bootstrap */
}

/* Estilos para el encabezado */
header {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Estilos para el pie de página */
footer {
    padding: 50px 0;
}

.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    width: 200px;
    height: 32px;
    border-radius: 16px;
    background-color: #0A66C2;
    font-family: "SF Pro Text", Helvetica, sans-serif;
    margin: 0 auto; /* Añade esta línea */
  }

/* Estilos para el contenedor de la imagen */
.image-container {
  height: 0;
  overflow: hidden;
  padding-top: 100%; /*Proporciona una relación de aspecto de 10:10 */
  position: relative;
}

.image-container .card-img-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto asegura que la imagen se recorte para cubrir el espacio disponible */
}